* {
    font-family: 'Oswald', sans-serif;
}

:root{
    --Blue: #0D3B66;
    --Banana: #faf0ca;
    --Yellow: #f4d35e;
    --Orange: #ee964b;
}

body {
    background-color: #0D3B66;
    color: #faf0ca;
}

header{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-image: linear-gradient( var(--Blue), var(--Banana), var(--Yellow));
    color: rgb(0, 0, 0);
    text-shadow: 2px 4px #b6ba90;
}

.row {
    height: 100%;
}

.input-section {
    gap: 10px;
}

.input-section > * {
    border-radius: 5 px;
}

#input-city {
    min-width: 20px;
    flex: 2;

}

#input-country {
    width: 15%;
}

.search-container {
    margin-top: 30px;
    height: 600px;
    margin: 30px;
    border: 2px solid var(--Orange);
    flex: 2
}

.weather-container{
    flex-direction: column;
    margin-top: 20px;
    margin-right: 20px;
    flex:7;
    min-height: 80vh;
}

.current-day {
    border: 2px solid var(--Orange);
    margin: 10px;
    padding: 20px;
}

.current-day > * {
    margin-bottom: 30px;
}

#current-icon {
    display: none;
}

#submit-city {
    padding: 0px 5px 
}

.custom-border {
    margin: 10px;
    padding: 10px;
    border-bottom: 2px solid var(--Orange);
}

.saved-city-buttons {
    margin: 10px;
    padding: 10px;
    gap: 10px

}

.saved-city-buttons > * {
    padding: 5px;
}

.five-day{
    border: 2px solid var(--Orange);
    margin: 10px;
    padding: 10px;
    gap: 10px;
}

#b0, #b1 ,#b2, #b3, #b4 {
    display: none;
}

.futureday {
    flex-wrap: wrap;
    flex: 1;
    min-width: 150px;
    padding: 5px;
    color: black;
    margin: 5px 0px;
    background-image: linear-gradient(var(--Banana), var(--Yellow));
    max-width: auto;
}

.custom-btn {
    background-color: var(--Yellow);
}

.custom-btn:hover {
    background-color: var(--Banana);
    transition: ease-in-out 0.3s;
}

#five-day-head{
    position: relative;
    left: 30px;
}








