/* Sets universal font to be a google font */
* {
    font-family: 'Oswald', sans-serif;
}

/* This is the base color pallette for my website */
:root{
    --Blue: #0D3B66;
    --Banana: #faf0ca;
    --Yellow: #f4d35e;
    --Orange: #ee964b;
}

/* Sets the background color of the body of the page */
body {
    background-color: #0D3B66;
    color: #faf0ca;
}
/* Customizes header */ 
header{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-image: linear-gradient( var(--Blue), var(--Banana), var(--Yellow));
    color: rgb(0, 0, 0);
    text-shadow: 2px 4px #b6ba90;
}

/* Lets the rows of current and five day forecast take 100% of the screen view */
.row {
    height: 100%;
}

/* Tags below style the input and saved button section of the page */
.search-container {
    height: 600px;
    margin: 30px;
    border: 2px solid var(--Orange);
    flex: 2
}

.input-section {
    gap: 10px;
}

.input-section > * {
    border-radius: 5 px;
}

#input-city {
    min-width: 20px;
    flex: 2;   
}

#submit-city {
    padding: 0px 5px 
}

.saved-city-buttons {
    margin: 10px;
    padding: 10px;
    gap: 10px
}

.custom-btn {
    background-color: var(--Yellow);
}

.custom-btn:hover {
    background-color: var(--Banana);
    transition: ease-in-out 0.3s;
}

.saved-city-buttons > * {
    padding: 5px;
}

#input-country {
    width: 15%;
}

.reset{
    width: 30%;
    margin-top: 10px;

}

/* Tags below style the weather container where the current weather and 5 day forecast is stored */
.weather-container{
    flex-direction: column;
    margin-top: 20px;
    margin-right: 25px;
    flex:7;
    min-height: 80vh;
}

.current-day {
    border: 2px solid var(--Orange);
    margin: 10px;
    padding: 20px;
}

.current-day > * {
    margin-bottom: 30px;
}

#current-icon {
    display: none;
}

.custom-border {
    margin: 10px;
    padding: 10px;
    border-bottom: 2px solid var(--Orange);
}

.five-day-container{
    border: 2px solid var(--Orange);
    margin: 10px;
    padding: 10px;
    gap: 10px;
}

#b0, #b1 ,#b2, #b3, #b4 { /* Sets the icon displays in the 5 day forecast */
    display: none;
}

.futureday {
    flex-wrap: wrap;
    flex: 1;
    min-width: 150px;
    padding: 5px;
    color: black;
    margin: 5px 0px;
    background-image: linear-gradient(var(--Banana), var(--Yellow));
    max-width: auto;
}

#five-day-head{
    position: relative;
    left: 30px;
}

/* Used to adjust screen proportions in mobile view */
@media screen and (max-width: 500px) {
    
    .weather-container{
        margin-right: 0px;

    }

    header {
        width: 100% ;
    }
}





